.message{
    display:flex;
    align-items: center;
    padding: 10px;
    border-bottom: .5px solid rgba(190, 190, 190, 0.33);
}


.message > img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.message__timestamp{
    color: grey;
    font-weight: 300;
    font-size: 13px;
}

.message__info{
    padding-left: 10px;
}

.message__info > h4 , p {
    margin-top: 0;
    margin-bottom: 0;
}